<div class="review-modal-backdrop review-modal-is-hidden" data-modalreview>
  <div class="review-modal">
    <button type="button" class="review-modal-close-btn" data-modalreview-close>
      <svg width="24" height="24" class="review-modal-close-svg">
        <use href="/img/icons.svg#icon-close-icon"></use>
      </svg>
    </button>
    <p class="review-modal-text">
      Contact <span class="review-modal-span">our expert</span>
    </p>
    <form action="#">
      <div class="review-modal-wrap-cnt">
        <label>
          <input
            type="text"
            name="user-name"
            class="review-modal-input"
            required
            maxlength="20"
            minlength="3"
            placeholder="Name"
          />
        </label>
      </div>
      <div class="review-modal-wrap-cnt">
        <label>
          <input
            type="email"
            name="user-email"
            class="review-modal-input"
            required
            placeholder="Enter your email"
          />
        </label>
      </div>
      <div class="review-modal-text-area">
        <label for="review-modal-text-area"></label>
        <textarea
          name="review-modal-text-area"
          id="review-modal-text-area"
          placeholder="Enter text"
          class="review-modal-textarea"
        ></textarea>
      </div>
      <button type="submit" class="review-modal-button">Send</button>
    </form>
  </div>
</div>
