<main>
  <section class="hero-customers-container">
    <h1 class="hero-customers-title">Our Clients</h1>
    <div class="customers-logo-container">
      <svg width="159" height="50">
        <use href="./img/symbol-defs.svg#icon-logo1"></use>
      </svg>
      <svg width="146" height="50">
        <use href="./img/symbol-defs.svg#icon-logo2"></use>
      </svg>
      <svg width="213" height="44">
        <use href="./img/symbol-defs.svg#icon-logo3"></use>
      </svg>
      <svg width="140" height="42">
        <use href="./img/symbol-defs.svg#icon-logo4"></use>
      </svg>
    </div>
  </section>
  <section class="customers-product-container">
    <div class="container">
      <h2 class="customers-product-title">Why Choose Product?</h2>
      <ul class="customers-product-menu">
        <li class="customers-products-items">
          <svg class="product-icon feature-1" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-arrow"></use>
          </svg>
          <h3 class="product-text-title">Special Business</h3>
          <p class="product-text">
            Product helps you see how many more days you need to work to reach
            your financial goal for the month and year.
          </p>
        </li>
        <li class="customers-products-items">
          <svg class="product-icon feature-2" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-arrow1"></use>
          </svg>
          <h3 class="product-text-title">Instant Result</h3>
          <p class="product-text">
            Product helps you see how many more days you need to work to reach
            your financial goal for the month and year.
          </p>
        </li>
        <li class="customers-products-items">
          <svg class="product-icon feature-4" width="50" height="50">
            <use href="./img/symbol-defs.svg#icon-arrow2"></use>
          </svg>
          <h3 class="product-text-title">Fastest way to organize</h3>
          <p class="product-text">
            Product helps you see how many more days you need to work to reach
            your financial goal for the month and year.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="how">
    <div class="how-section-container container">
      <h2 class="how-title">How Product Work?</h2>
      <div class="how-container">
        <div class="how-img">
          <img
            class="how-img"
            src="./img/mac1.jpg"
            alt="macbook screen"
            width="500"
            height="280"
          />
        </div>
        <div class="how-text-container">
          <span class="how-step">STEP 1</span>
          <h4 class="how-text-title">Apply for a product</h4>
          <p class="how-text">
            Completing our easy step-by-step application form gives you access
            to multiple business with multiple products. We analyse your
            business through our proprietary credit analysis technology
          </p>
        </div>

        <div class="how-text-container">
          <span class="how-step">STEP 2 </span>
          <h4 class="how-text-title">Pay fully refundable</h4>
          <p class="how-text">
            Product will contactting you instantly to receive payment of the
            Application Fee. if no offer of product is available, your fee will
            be fully refunded.
          </p>
        </div>
        <div class="how-img how-img2">
          <img
            class="how-img"
            src="./img/mac2.jpg"
            alt="macbook screen"
            width="500"
            height="280"
          />
        </div>
        <div class="how-img">
          <img
            class="how-img"
            src="./img/mac3.jpg"
            alt="macbook screen"
            width="500"
            height="280"
          />
        </div>
        <div class="how-text-container">
          <span class="how-step">STEP 3</span>
          <h4 class="how-text-title">Completion</h4>
          <p class="how-text">
            Product will continue to liase between borrower and manager to
            procees and complete a quick and efficient settlement
          </p>
        </div>
      </div>
      <div class="how-btn-container">
        <button class="how-btn">Get in touch with us</button>
      </div>
    </div>
  </section>
  <section class="join">
    <div class="join-container container">
      <h2 class="join-title">
        Join thousand of other who have<br />
        already received offers
      </h2>
      <ul class="join-menu">
        <li class="join-items">
          <svg width="100" height="100">
            <use href="./img/symbol-defs.svg#icon-join1"></use>
          </svg>
          <h4 class="join-text-title">Business</h4>
          <span class="join-small-text">Cash Flow</span>
          <span class="join-small-text">Asset Backed</span>
          <span class="join-small-text">Receivables Finance</span>
          <p class="join-text">Find the best business product</p>
        </li>
        <li class="join-items">
          <svg width="100" height="100">
            <use href="./img/symbol-defs.svg#icon-join2"></use>
          </svg>
          <h4 class="join-text-title">Enterprise</h4>
          <span class="join-small-text">Site Acquisition</span>
          <span class="join-small-text">Bridge</span>
          <span class="join-small-text">Development Financing</span>
          <p class="join-text">Find the best business product</p>
        </li>
      </ul>
    </div>
  </section>
  <section id="promo-customer" class="promo promo-customer">
    <div class="promo-container container">
      <div>
        <p class="promo-text">
          Join 100 Compannies who boost their business with Product
        </p>
        <button class="promo-btn">Get This</button>
      </div>
      <svg class="promo-icon" width="350" height="350">
        <use href="./img/symbol-defs.svg#screen"></use>
      </svg>
    </div>
  </section>
</main>
