<div class="explore-backdrop is-hidden" data-subscribe-modal>
  <div class="explore-modal">
    <button class="explore-close-btn" type="button" data-subscribe-modal-close>
      <svg class="explore-close-icon" width="20" height="20">
        <use href="/img/icons.svg#icon-close-icon"></use>
      </svg>
    </button>
    <div class="explore-text-wrapper">
      <h2 class="explore-title">
        Sign up to our
        <span class="span-new-choc-first"
          ><span class="span-new-choc">project's</span> first!</span
        >
      </h2>
      <form class="explore-form">
        <span class="explore-inp-btn-wrapper">
          <label class="explore-label">
            <input
              class="explore-input"
              type="email"
              name="subscribe_email"
              placeholder="Enter your email"
            />
          </label>
          <button class="explore-submit-btn" type="submit">Submit</button>
        </span>
      </form>
    </div>
  </div>
</div>
