<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="logo-link">
      <svg width="40" height="36">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">Product</span>
    </a>
    <div>
      <nav class="header-nav">
        <ul class="header-nav-menu">
          <li>
            <a href="./index.html" class="header-nav-items active">Product</a>
          </li>
          <li>
            <a href="./pricing.html" class="header-nav-items">Pricing</a>
          </li>
          <li>
            <a href="./customers.html" class="header-nav-items">Customers</a>
          </li>
          <li>
            <a href="#promo" class="header-nav-items">Resources</a>
          </li>
        </ul>
        <ul class="header-btns">
          <li><button class="header-btn--1">Sign In</button></li>
          <li><button class="header-btn--2">Sign Up</button></li>
        </ul>
      </nav>
    </div>
    <button class="btn-menu">
      <svg name="open-menu" class="icon-menu" width="40" height="36">
        <use href="./img/symbol-defs.svg#icon-menu"></use>
      </svg>
      <svg name="close-menu" class="icon-menu" width="40" height="36">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
