<main>
  <section class="pricing">
    <div class="price-container container">
      <h1 class="price-title price-title-pricing">
        Let’s get some real work done here.
      </h1>
      <p class="price-text price-text-pricing">
        Product is your perfect solution for working. Get started now for free
      </p>
      <div class="price-cards-container">
        <div class="price-card-container">
          <ul class="price-card-menu">
            <li class="price-card-items">
              <span><strong>Free</strong></span>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Brief price description</p>
            </li>
            <li class="price-card-items">
              <div class="price-dollar-container">
                <p class="price-value">0</p>
                <div class="dollar-container">
                  <span class="dollar-sign">$</span>
                  <p class="price-card-text price-secondary-text">
                    Per &sol; month
                  </p>
                </div>
              </div>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Only 2 Operators</p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Notifications</p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Landing Pages</p>
            </li>
          </ul>

          <button class="price-card-btn">Order Now</button>
        </div>
        <div class="price-card-container price-card-active">
          <ul class="price-card-menu">
            <li class="price-card-items">
              <p>
                <strong class="price-card-text-active">Standard</strong>
              </p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text price-card-text-active">
                Brief price description
              </p>
            </li>
            <li class="price-card-items">
              <div class="price-dollar-container">
                <p class="price-value value--active">5</p>
                <div class="dollar-container">
                  <span class="dollar-sign value--active">$</span>
                  <p class="price-card-text price-secondary-text">
                    Per &sol; month
                  </p>
                </div>
              </div>
            </li>
            <li class="price-card-items">
              <p class="price-card-text price-card-text-active">5+ Operators</p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text price-card-text-active">
                Notifications
              </p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text price-card-text-active">
                Landing Pages
              </p>
            </li>
          </ul>

          <button class="price-card-btn price-card-btn-active">
            Order Now
          </button>
        </div>
        <div class="price-card-container">
          <ul class="price-card-menu">
            <li class="price-card-items">
              <p><strong>Premium</strong></p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Brief price description</p>
            </li>
            <li class="price-card-items">
              <div class="price-dollar-container">
                <p class="price-value">10</p>
                <div class="dollar-container">
                  <span class="dollar-sign">$</span>
                  <p class="price-card-text price-secondary-text">
                    Per &sol; month
                  </p>
                </div>
              </div>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">10+ Operators</p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Notifications</p>
            </li>
            <li class="price-card-items">
              <p class="price-card-text">Landing Pages</p>
            </li>
          </ul>

          <button class="price-card-btn">Order Now</button>
        </div>
      </div>
    </div>
  </section>
  <section class="enterprise">
    <div class="enterprise-container container">
      <h4 class="pricing-enterprise-subtitle">ENTERPRISE</h4>
      <h2 class="pricing-enterprise-title">
        Are you interested in a custom-tailored plan?
      </h2>
      <p class="pricing-enterprise-text">
        Product is a set of advanced features for really large teams with
        projects.
      </p>
      <button class="pricing-enterprise-btn">Get in touch with us</button>
    </div>
  </section>
  <section class="specifies">
    <div class="container">
      <h2 class="specifies-title">
        Product is being used with great effects alongside:
      </h2>
      <div class="specifies-container">
        <div class="specifies-img-container">
          <svg width="528" height="392" class="specifies-img">
            <use href="./img/symbol-defs.svg#icon-pricing"></use>
          </svg>
        </div>
        <div class="specifies-text-container">
          <ul class="specifies-menu">
            <li>
              <div class="specifies-icon-container">
                <div class="specifies-icon-bg-container">
                  <svg class="specifies-icon" width="24" height="24">
                    <use href="./img/symbol-defs.svg#icon-spec1"></use>
                  </svg>
                </div>
                <h4 class="specifies-text-title">Enterpreneur</h4>
              </div>
              <p class="specifies-text">
                Product is a great way to help medium and samall enterprise
                owners achieve their goals
              </p>
            </li>
            <li>
              <div class="specifies-icon-container">
                <div class="specifies-icon-bg-container">
                  <svg class="specifies-icon" width="24" height="24">
                    <use href="./img/symbol-defs.svg#icon-spec2"></use>
                  </svg>
                </div>
                <h4 class="specifies-text-title">Accountants</h4>
              </div>
              <p class="specifies-text">
                Whether you are working on contract with clients, or on other
                key accounting documents, Product is for you
              </p>
            </li>
            <li>
              <div class="specifies-icon-container">
                <div class="specifies-icon-bg-container">
                  <svg class="specifies-icon" width="24" height="24">
                    <use href="./img/symbol-defs.svg#icon-spec3"></use>
                  </svg>
                </div>
                <h4 class="specifies-text-title">Universities</h4>
              </div>
              <p class="specifies-text">
                Organize university projects and have documents easily graded
                online with Product
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="faq">
    <div class="faq-container container">
      <h2 class="faq-title">Frequently asked question</h2>
      <p class="faq-title-text">
        Something is not clear? You need help? Check our FAQ section
      </p>
      <ul class="faq-menu">
        <li class="faq-items">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-plus"></use>
          </svg>
          <p class="faq-text">What are my payment option?</p>
        </li>
        <li class="faq-items minus-item">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-minus"></use>
          </svg>
          <p class="faq-text">How can I invite collaborator to platform?</p>
        </li>
        <li class="faq-items">
          <p class="faq-minus-text">
            After creating your account you will have an oppurtunity to create
            your first project that will be associated withthe collaborators
            e-mail. An invitation will be sent automatically. Then, invited user
            will have to confirm his account by e-mail and finish userd
            onboarding.
          </p>
        </li>
        <li class="faq-items">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-plus"></use>
          </svg>
          <p class="faq-text">Can I upgrade my plan?</p>
        </li>
        <li class="faq-items">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-plus"></use>
          </svg>
          <p class="faq-text">Can I cancel my plan at anytime?</p>
        </li>
      </ul>
    </div>
  </section>
  <section id="pricing-promo" class="promo pricing-promo">
    <div class="promo-container container">
      <div>
        <p class="promo-text">
          Join 100 Compannies who boost their business with Product
        </p>
        <button class="promo-btn">Get This</button>
      </div>
      <svg class="promo-icon" width="350" height="350">
        <use href="./img/symbol-defs.svg#screen"></use>
      </svg>
    </div>
  </section>
</main>
